<ion-view view-title="读书交流">
    <ion-content class="padding">
        <div class="list card">
            <div style="width: 100%;height: auto">
                <div class="item item-image" style="width: 100%;height:160px;">
                    <img src="img/bkg.png" />
                </div>
                <div style="width: 100%;height:auto;;background-color: rgba(255, 255, 255, 0.99);position: relative;margin-top: -20px;z-index: 9999">
                    <img src="img/max.png" style="float: right;width: 80px;height: 80px;margin-right: 15%" />
                    <a style="float: right;margin-right: 15px;padding-top: 30px;text-align: center;font-size: 30px">王浩陡壁</a>
                </div>
            </div>
        </div>
        <p>
            左右上下，摇摆摇摆
        </p>
        <div class="list">
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
        <!-- </div>
        <div class="list"> -->
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
        <!-- </div>
        <div class="list"> -->
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
       <!--  </div>
        <div class="list"> -->
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
        <!-- </div>
        <div class="list"> -->
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
       <!--  </div>
        <div class="list"> -->
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
       <!--  </div>
        <div class="list"> -->
            <a class="item" href="#">
                <div class="item item-avatar">
                    <img src="img/max.png">
                    <h2>Marty McFly</h2>
                    <p>November 05, 1955</p>
                </div>
                <div class="item item-thumbnail-left">
                    <img src="img/bainian.png" style="">
                    <h2>书名：百年孤独</h2>
                    <p>作者：加西亚·马尔克斯</p>
                    <p>点评：孤独在他们的世界里又是一把双刃剑。 他们害怕自己陷于孤独的泥淖，而以自己独特的方式在反抗孤独， 悖论的是他们的生存又离不开这种孤独，他们渴望保持孤独的高傲姿态。
                    </p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
